name: Build

on:
  workflow_call:
    inputs:
      mode:
        required: true
        type: string
        default: snapshot
        description: |
          the mode to use. either `snapshot` or `release`. Will affect effective version, as well
          as target-oci-registry.
      run-tests:
        required: true
        type: boolean


jobs:
  prepare:
    uses: gardener/cc-utils/.github/workflows/prepare.yaml@master
    with:
      mode: ${{ inputs.mode }}
    permissions:
      contents: read

  oci-images:
    name: Build OCI-Images
    needs:
      - prepare
    permissions:
      contents: read
      packages: write
      id-token: write
    secrets: inherit
    uses: gardener/cc-utils/.github/workflows/oci-ocm.yaml@master
    strategy:
      matrix:
        args:
          - name: dependency-watchdog
            oci-repository: gardener/dependency-watchdog
    with:
      name: ${{ matrix.args.name }}
      version: ${{ needs.prepare.outputs.version }}
      oci-registry: ${{ needs.prepare.outputs.oci-registry }}
      oci-repository: ${{ matrix.args.oci-repository }}
      oci-platforms: linux/amd64,linux/arm64

  unittest:
    runs-on: ubuntu-latest
    if: ${{ inputs.run-tests }}
    permissions:
      contents: read
    steps:
      - uses: actions/setup-go@v6
        with:
          go-version: '1.24'
      - uses: gardener/cc-utils/.github/actions/trusted-checkout@master
      - name: run-test-unit
        shell: bash
        run: |
          set -eu
          mkdir /tmp/blobs.d
          .ci/test-unit |& tee /tmp/blobs.d/test-unit-log.txt
          tar czf /tmp/blobs.d/test-unit-log.tar.gz -C/tmp/blobs.d test-unit-log.txt
      - name: add-test-unit-results-to-component-descriptor
        uses: gardener/cc-utils/.github/actions/export-ocm-fragments@master
        with:
          blobs-directory: /tmp/blobs.d
          ocm-resources: |
            name: test-results
            extraIdentity:
              test: unit
            relation: local
            access:
              type: localBlob
              localReference: test-unit-log.tar.gz
            labels:
              - name: gardener.cloud/purposes
                value:
                  - test
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v6
        with:
          go-version: '1.24'
      - uses: gardener/cc-utils/.github/actions/trusted-checkout@master
      - name: run-check
        run: |
          set -eu
          mkdir /tmp/blobs.d
          .ci/check |& tee /tmp/blobs.d/check-log.txt
          # verify calls `make sast-report`, which generates `gosec-report.sarif`
          tar czf /tmp/blobs.d/check-log.tar.gz -C/tmp/blobs.d check-log.txt
          tar czf /tmp/blobs.d/gosec-report.tar.gz gosec-report.sarif
      - name: add-reports-to-component-descriptor
        uses: gardener/cc-utils/.github/actions/export-ocm-fragments@master
        with:
          blobs-directory: /tmp/blobs.d
          ocm-resources: |
            - name: gosec-report
              relation: local
              access:
                type: localBlob
                localReference: gosec-report.tar.gz
              labels:
                - name: gardener.cloud/purposes
                  value:
                    - lint
                    - sast
                    - gosec
                - name: gardener.cloud/comment
                  value: |
                    we use gosec (linter) for SAST scans
                    see: https://github.com/securego/gosec
            - name: test-results
              extraIdentity:
                test: check
              relation: local
              access:
                type: localBlob
                localReference: check-log.tar.gz
              labels:
                - name: gardener.cloud/purposes
                  value:
                    - test
